
/* General content */
body {
    font-size: 67.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    background-color: rgb(248, 248, 248);
    padding: 0;
    margin: 0;
    /* -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%; */
}

h1 {
    color: #e23940;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}

h2 {
    color: #ac272b;
    font-size: 1.7em;
    margin: 0.5em 0 0.35em 0;
    padding: 0;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #555;
    padding: 0px;
    margin: 0 0em 0.75em 0px;
}

a:hover {
    color: #ac272b;
}

.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
}

header {
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
    background: rgb(184, 184, 184)
    /* url(./assets/pepperoni.jpg) center 0px; */
}

header h1 {
    font-family: "Times New Roman", Times, serif;
    color: #e23940;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: 0;
    text-shadow: 1px 2px 0 #ac272b;
}

header h2 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 2.5em;
    margin: -0.4em 0 0 0;
    letter-spacing: 0.05em;
}

/* navigation bar */
nav {
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0;
}

nav#utilityMenu {
    float: right;
    margin: -1.5em 0 0 0;
    padding: 0.35em;
    background-color: #ac272b;
    height: 1.3em;
}

nav#utilityMenu li {
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;
}


nav li {
    display: inline-block;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li a, nav li a:visited {
    text-decoration: none;
    color:  #ac272b;
    padding: 0.3em 0.6em;
}

nav li a:hover {
    color: #ac272b;
    background-color: rgba(252,251,243,0.75);
}

nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.5em;
    margin: -0.4em 0 0 0;
    font-size: 0.8em;
}

/* panels */

section div.panel {
    float: left;
    position: relative;
    width: 250px;
    /* height: 300px; */
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}

section div.panel img {
    width: 100%;
    /* height: 100%; */
}


section#main {
    width: 100%;
    /* float: top; */
    position: relative;
    display: inline-block;
    background-color: rgb(248, 248, 248);
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-top: #ac272b solid 5px;
}

section#pledge {
    width: 100%;
    float: bottom;
    position: relative;
    display: block;
    background-color: rgb(248, 248, 248);
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-top: #ac272b solid 5px;
    text-align: center;
}

/* footer */
footer {
    background-color: rgb(184, 184, 184);
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0.6em;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}

footer ul li::before {
    content: "|";
    padding-right: 0.7em;
}

footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

button {
    color: #e23940;
    background-color: #fff;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #e23940;
    text-transform: uppercase;
}

button:hover {
    background: #fbf3db;
    border: 1px solid #ac272b
}